@charset "utf-8";
@import '_vars';
@import '_reset';
@import url(https://hunetdown.cdn.hunet.co.kr/Resources/HunetDev/HRD_DEV/Images/_assets/edu/css/nanumbg.css);

/* base */
$masterColor: #ff6c00;
$primaryColor: #44535a;

/* 반영시 지우기 :: 211025 */
body {
	* {
		font-family: 'NanumBarunGothic', sans-serif;
	}

}

header,
footer {
	width: 100%;
	min-width: 1130px;

	img {
		width: 100%;
	}

}

main {
	display: flex !important;
	margin: 0 auto;
	padding: 60px 0 160px;
	width: 1130px;
}

.snb {
	width: 210px;
	padding: 0 50px 0 0;
}

.contents {
	flex: 1;
}

.h2 {
	font-size: 28px;
	color: #222;
	line-height: 76px;
}

/* / / 반영시 지우기 :: 211025 */

/* modal common */
.modal-open {
	overflow: hidden;
}

.modal-backdrop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $black;
	z-index: 9998;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	opacity: .60;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	.modal-close {
		@include position($t: 15px, $r:15px);
		width: 16px;
		height: 15px;
		overflow: hidden;
		text-indent: -9999em;
		border: 0;
		background: url(https://img.hunet.co.kr/h/common/icon-modal-x.png) no-repeat center center;
		cursor: pointer;
	}

	.modal-btn {
		display: inline-block;
		padding: 8px 20px;
		margin-bottom: 0;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
	}

}

.modal-content {
	position: relative;
	margin: 0 auto;
	padding: 0;
	line-height: 20px;
	color: #555;
	font-size: 13px;
	background-color: $white;
	outline: none;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: 2px solid #2c2c2c;
	border-radius: 10px;
}

/* Quiz */
.quiz-module {
	width: 100%;

	background: {
		image: url(../images/pc/quiz_bg.png);
		repeat: repeat-y;
		position: 0 0;
	}

	border-top: 1px solid #d7d7d7;

	* {
		font-family: 'NanumBarunGothic', sans-serif;
	}

	/* title */
	.main-tit {
		position: relative;
		overflow: hidden;
		margin-top: -53px;
		text-align: center;

		&::before {
			@include position($t: -286px, $l:50%);
			margin-left: -257px;
			content: "";
			width: 514px;
			height: 514px;
			border-radius: 50%;
			background: #FFE400;
		}

		span,
		img {
			position: relative;
			z-index: 9;
		}

		span {
			display: block;
			margin: 54px 0px 15px;
			font-size: 25px;
			font-weight: 400;
			letter-spacing: -2px;
			color: $masterColor;
		}

		&+.desc {
			margin-bottom: 40px;
			font-size: 17px;
			font-weight: 500;
			line-height: 24px;
			color: $primaryColor;
			text-align: center;
			letter-spacing: -1.2px;
		}

	}

	.quiz-tit {
		position: relative;
		display: block;
		margin: 0 auto;
		padding: 20px 20px 17px;
		width: 570px;
		text-align: center;
		font-size: 30px;
		font-weight: 500;
		line-height: 1.2;
		color: #ff9100;
		letter-spacing: -1.75px;
		box-shadow: rgba(254, 168, 104, 0.9) 6px 7px 2px;
		border: 2px solid $masterColor;
		background: $white;
		@include box-sizing(border-box);

		span {
			display: block;
			margin-top: 10px;
			font-size: 14px;
			font-weight: 400;
			color: $primaryColor;
		}

		&::before,
		&::after {
			@include position($t: -56px);
			content: "";
			width: 3px;
			height: 54px;
			background: rgb(255, 108, 0);
		}

		&::before {
			left: 28px;
		}

		&::after {
			right: 28px;
		}

	}

	.quiz-s-tit {
		position: relative;
		display: block;
		width: 150px;
		height: 38px;
		line-height: 38px;
		font-size: 22px;
		font-weight: bold;
		color: $white;
		text-align: center;
		margin: -20px auto 15px;
		border-radius: 0px 0px 15px 15px;
		background: #ff9100;
		text-shadow: 0 2px 4px #ff6c00;
		letter-spacing: -.8px;

		&::before,
		&::after {
			content: "";
			width: 0;
			height: 0;
			z-index: 0;
		}

		&::before {
			@include position($t: 0, $l:-16px);
			border-top: 16px solid transparent;
			border-right: 16px solid $masterColor;
		}

		&::after {
			@include position($t: 0, $r:-16px);
			border-top: 16px solid transparent;
			border-left: 16px solid $masterColor;
		}

	}

	.quiz-s-tit2 {
		@include position($t: -80px, $l:50%);
		margin-left: -89px;
		width: 178px;
		height: 90px;

		background: {
			image: url(../images/pc/quiz_title.png);
			repeat: no-repeat;
			position: 0 0
		}

		font-size:0;
	}

	/* button */
	.quiz-btn-area {
		padding: 30px 15px;
		@include clearfix;
		@include box-sizing(border-box);

		.btn-quiz {
			position: relative;
			float: right;
			width: 166px;
			height: 52px;
			z-index: 1;
			border-radius: 30px;
			background: linear-gradient(#FEE303, #DF8720);

			&:hover {
				span {
					transform: translateY(-1.5px);
					transition: all .3s;
					background: linear-gradient(#fae14d, #e8ab24);
				}

			}

			span {
				@include position($t: 50%, $l: 50%);
				content: "";
				margin: -20px 0 0 -75px;
				width: 150px;
				height: 40px;
				line-height: 40px;
				font-size: 21px;
				font-weight: bold;
				text-align: center;
				color: $white;
				box-shadow: #D17E22 0px 2px 1px, rgba(255, 255, 255, 0.5) 0px -3px 1px;
				background: linear-gradient(#FAE04D, #F1B724);
				border-radius: 30px;
				z-index: 2;
			}

		}

		&.d-flex {
			@include flex(center);

			&:after {
				content: none;
			}

			padding: 0;

			.btn-quiz {
				margin: 0 13px;
				width: 92px;
				height: 92px;
				border-radius: 50%;
			}

			span {
				margin: -34px 0 0 -34px;
				@include flex(center);
				align-items: center;
				width: 68px;
				height: 68px;
				line-height: 1.3;
				font-size: 16px;
				color: #5b2714;
				border-radius: 50%;
			}

		}

	}


	/* quiz contents */
	.quiz-inner {
		width: 760px;
		margin: 0px auto;
		padding: 53px 0px;
	}

	.quiz-cont {
		width: 100%;
		padding: 0px;

		border: {
			radius: 30px;
			width: 4px;
			style: solid;
			color: #FF9100;
		}

		background: $white;
		@include box-sizing(border-box);
	}

	.sel-q-items {
		ul {
			@include flex(center);
			margin-top: 30px;
			flex-wrap: wrap;
		}

		li {
			text-align: center;
			margin: 0px 14px 33px;

			a {
				display: block;
			}

			span {
				display: block;
				width: 101px;
				height: 34px;
				line-height: 36px;
				font-size: 20px;
				font-weight: bold;
				color: $white;
				margin: 10px auto 0px;
				border-radius: 25px;
				background: $primaryColor;
			}

		}

	}

	.overview {
		padding: 10px 30px 30px;
	}

	.modal {
		text-align: center;
	}

}

/* drag and drop */
.q-draggble {
	.quiz-cont {
		margin-top: 60px;
		padding: 0px 40px 40px;
	}

	.q-desc {
		position: relative;
		text-align: center;

		p {
			margin-bottom: 25px;
			font-size: 15px;
			color: $primaryColor;
			letter-spacing: -.8px;
		}

		h5 {
			display: inline-block;
			width: 80px;
			height: 25px;
			line-height: 25px;
			font-size: 16px;
			font-weight: 500;
			color: $white;
			background: $primaryColor;
		}

		.cate-lst {
			@include clearfix;
			@include position($t: 37px, $r:0);

			li {
				position: relative;
				font-size: 12px;
				line-height: 20px;
				color: $primaryColor;
				text-align: left;
				letter-spacing: -.1px;

				&:before {
					@include position($t: 50%, $l:-6px);
					content: '';
					margin-top: -1px;
					width: 2px;
					height: 2px;
					border-radius: 50%;
					background: $primaryColor;
				}

			}

		}

	}

	.q-items {
		ul {
			@include flex(space-around);
			flex-wrap: wrap;
		}

		li {
			position: relative;
			width: 87px;
			height: 87px;
			margin: 20px 18px 25px;
			background: rgba(227, 226, 225, 0.2);
			border-radius: 50%;

			em {
				@include position($b: -27px);
				width: 100%;
				font-size: 15px;
				text-align: center;
				letter-spacing: -1px;
			}

		}

	}

	.q-items,
	.bucket {
		.item {
			display: block;
			width: 87px;
			height: 87px;
			border-radius: 50%;

			background: {
				color: transparent;
				position: 0 0;
				repeat: no-repeat;
			}

			transition: all 0.3s;
		}

		.prod_01 {
			background-image: url(../images/pc/prod_item01.png);
		}

		.prod_02 {
			background-image: url(../images/pc/prod_item02.png);
		}

		.prod_03 {
			background-image: url(../images/pc/prod_item03.png);
		}

		.prod_04 {
			background-image: url(../images/pc/prod_item04.png);
		}

		.prod_05 {
			background-image: url(../images/pc/prod_item05.png);
		}

		.prod_06 {
			background-image: url(../images/pc/prod_item06.png);
		}

		.prod_07 {
			background-image: url(../images/pc/prod_item07.png);
		}

		.prod_08 {
			background-image: url(../images/pc/prod_item08.png);
		}

		.prod_09 {
			background-image: url(../images/pc/prod_item09.png);
		}

		.prod_10 {
			background-image: url(../images/pc/prod_item10.png);
		}

	}

	.drag-drop-zone {
		@include flex(space-between);
		margin-top: 50px;

		.bucket {
			width: 363px;
			height: 435px;
			@include box-sizing(border-box);
			padding: 0px 36px;
			background: $white;
			border: {
				radius: 38px;
				width: 2px;
				style: solid;
				color: #e3e2e1
			}

			&.active {
				background: rgba(254, 108, 0, .2);
				border-color: $masterColor;
				transition: all 0.3s;

				li {
					transform: scale(1.2);
					background: rgba(254, 255, 255, .8);
					transition: all 0.2s;
				}

			}

			.quiz-s-tit {
				margin: -18px auto 0;
			}

			/* 정답 */
			&.correct {
				position: relative;
				border-color: #9ee737;
				-webkit-transition-duration: .5s;
				-moz-transition-duration: .5s;
				transition-duration: .5s;
				-webkit-animation-timing-function: cubic-bezier(.895, .03, .685, .22);
				-moz-animation-timing-function: cubic-bezier(.895, .03, .685, .22);
				animation-timing-function: cubic-bezier(.895, .03, .685, .22);

				&:before {
					@include position($l: 0, $t:0);
					width: 361px;
					height: 434px;
					content: '';

					background: {
						image: url(../images/pc/correct.png);
						repeat: no-repeat;
						position: 0 0;
					}

				}

				.quiz-s-tit {
					background: #9ee737;
					text-shadow: 0 2px 4px #9ee737;

					&::before {
						border-right: 16px solid #33be40;
					}

					&::after {
						border-left: 16px solid #33be40;
					}

				}

			}

			/* 오답 */
			&.incorrect {
				position: relative;
				border-color: #f31c4b;
				-webkit-transition-duration: .2s;
				-moz-transition-duration: .2s;
				transition-duration: .2s;
				-webkit-animation-timing-function: cubic-bezier(.895, .03, .685, .22);
				-moz-animation-timing-function: cubic-bezier(.895, .03, .685, .22);
				animation-timing-function: cubic-bezier(.895, .03, .685, .22);

				&:before {
					@include position($l: 0, $t:0);
					width: 361px;
					height: 434px;
					content: '';

					background: {
						image: url(../images/pc/incorrect.png);
						repeat: no-repeat;
						position: 0 0;
					}

				}

				.quiz-s-tit {
					background: #fcb5c4;
					text-shadow: 0 2px 4px #f31c4b;

					&::before {
						border-right: 16px solid #f31c4b;
					}

					&::after {
						border-left: 16px solid #f31c4b;
					}

				}

			}

		}

		.drop-lst {
			@include flex(center);
			flex-wrap: wrap;
			margin-top: 40px;

			li {
				margin: 0px 27px 30px;
				width: 87px;
				height: 87px;
				background: rgba(227, 226, 225, .4);
				border-radius: 50%;
			}

		}

	}

}

/* quiz popup */
.quiz-alert {
	* {
		text-align: center;
	}

	.modal-content {
		left: 50%;
		margin: 0 0 0 -80px;
		padding: 64px 48px;
		border: 0;
		@include  box-sizing(border-box);

		p {
			font-size: 24px;
			line-height: 34px;
			letter-spacing: -1.4px;
			color: $black;
		}

	}

	.btn-wrap {
		padding-top: 25px;
	}

	.modal-btn {
		margin: 0 12px;
		padding: 0;
		width: 124px;
		height: 54px;
		line-height: 56px;
		border-radius: 3px;
		font-size: 29px;
		font-weight: 400;
		letter-spacing: -1.69px;
		color: $white;
		text-align: center;
		border: 0;
	}

	.btn-default {
		background: #cdcbcb;
	}

	.btn-close {
		background: #ff9100
	}

}

/* quiz step */
.quiz-step {
	@include clearfix;
	width: 600px;
	margin: 50px auto 0;

	ol {
		margin-bottom: 16px;
		@include flex(space-between);
	}

	li {
		flex-basis: 10%;
		text-align: center;

		span {
			display: block;
			margin: 0 auto;
			width: 34px;
			height: 34px;
			line-height: 31px;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: -.5px;
			color: #4b4a4a;
			border-radius: 50%;
			background: $white;
			border: 3px solid #e6c140;
			@include box-sizing(border-box);
		}

	}

	.bar-bg {
		position: relative;
		margin-bottom: 20px;
		width: 100%;
		height: 19px;
		background: #dedede;
		border-radius: 10px;
		overflow: hidden;
	}

	.bar-rate {
		@include flex(space-between);
		@include position($t: 0, $l:0);
		width: 100%;
		height: 19px;

		span {
			flex-basis: 10%;
			width: 0;

			&.complete {
				width: 100%;
				height: 100%;
				background: #e6c140;
				-webkit-transition: all .3s;
				-moz-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
			}

		}

	}

}

/* 문제 풀기 */
.quiz-form-wrap {
	position: relative;
	width: 607px;
	margin: 123px auto 0;
	@include box-sizing(border-box);

	&::before {
		@include position($b: -4px, $r:-2px);
		content: '';
		width: 100%;
		min-height: 101%;
		border-radius: 10px;
		background: #BD8626;
		z-index: 1;
		transform: rotate(-.2deg);
	}

	&::after {
		@include position($b: -9px, $r:-4px);
		content: '';
		width: 100%;
		min-height: 101%;
		border-radius: 10px;
		background: #9E672B;
		z-index: 0;
		transform: rotate(-.2deg);
	}

}

.quiz-form {
	position: relative;
	padding-top: 10px;
	width: 100%;
	border: 10px solid #e6c140;
	border-top: 0;
	border-radius: 0 0 10px 10px;
	@include box-sizing(border-box);
	background: $white;
	z-index: 1;

	&::before {
		@include position($t: -58px, $l:-10px);
		content: '';
		width: 607px;
		height: 58px;

		background: {
			image: url(../images/pc/quiz_cont_bg.png);
			repeat: no-repeat;
			position: 0 0;
		}

	}

	.form-inr {
		position: relative;
		padding: 15px 38px 100px;
		z-index: 2;
		background: linear-gradient(-40deg, #f9f9f9 50%, #fff 50%);

		&::before {
			@include position($l: 0, $b:0);
			content: '';
			width: 0px;
			height: 0px;
			border-bottom: 50px solid transparent;
			border-right: 53px solid #dedede;
		}

		&::after {
			@include position($l: 0, $b:0);
			content: '';
			width: 0px;
			height: 0px;
			border-top: 50px solid transparent;
			border-left: 53px solid #E6C140;
		}

	}

	.quiz-paging {
		@include clearfix;
		margin-bottom: 18px;
		text-align: right;

		span {
			position: relative;
			padding: 0 6px;
			font-size: 16px;
			font-weight: bold;
			color: #9e672b;
			letter-spacing: -.5px;

			&::before {
				@include position($l: -3px, $t:0);
				content: '/';
			}

			&:first-child {
				&:before {
					content: none;
				}

			}

		}

	}

	.ques-tit {
		margin-bottom: 40px;
		font-size: 19px;
		font-weight: bold;
		line-height: 28px;
		letter-spacing: -.5px;
		text-align: center;
		color: #4b4a4a;
		word-break: keep-all;
	}

	input[type="radio"],
	input[type="checkbox"] {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	/* 객관식 */
	.multiple {
		@include clearfix;
		counter-reset: leaderboard;

		li {
			position: relative;
			@include flex(space-between);
			margin-bottom: 12px;
			width: 100%;
			counter-increment: leaderboard;
			@include box-sizing(border-box);

			&::before {
				content: counter(leaderboard);
				@include position($t: 50%, $l:24px);
				margin-top: -25px;
				width: 50px;
				height: 50px;
				line-height: 50px;
				color: $white;
				background: #FF7D54;
				border-radius: 50%;
				border: 2px solid #00225D;
				font-size: 32px;
				font-weight: 900;
				text-align: center;
				z-index: 2;
				@include box-sizing(border-box);
			}

			label {
				width: 100%;
				height: 100%;
				padding: 16px 24px 16px 87px;
				font-size: 17px;
				line-height: 24px;
				letter-spacing: -.5px;
				color: #4b4a4a;
				border-radius: 40px;
				background: #fff6d7;
				cursor: pointer;
			}

			input[type="radio"]:checked,
			input[type="checkbox"]:checked {
				+ label {
					font-weight: bold;
					background: #f4cd44;
					color: $white;
					transition: all .2s;
				}

			}

		}

	}

	/* 주관식 */
	.ox-quiz {
		@include flex(space-between);

		label {
			display: block;
			width: 224px;
			height: 224px;
			font-size: 0;

			background: {
				color: #c1bfbf;
				repeat: no-repeat;
				position: 50% 50%;
			}

			border-radius: 50%;
			cursor: pointer;

			&.choice-o {
				background-image: url(../images/pc/quiz_o.png);
			}

			&.choice-x {
				background-image: url(../images/pc/quiz_x.png);
			}

		}

		input[type="radio"]:checked,
		input[type="checkbox"]:checked {
			+ label {
				transition: ease-in-out .2s;
			}

			+ .choice-o {
				background-color: #12a76b;
			}

			+ .choice-x {
				background-color: #c2164b;
			}

		}

	}

}

/* 결과페이지 */
.q-result {
	padding: 0 60px 45px;

	.tit {
		font-size: 25px;
		line-height: 32px;
		text-align: center;
		color: #4b4a4a;

		span {
			color: #ff9100;
		}

	}

	.form-inr {
		padding : 30px 0 50px;
	}

	.draggble {
		text-align: center;

		figure {
			margin: -85px 0 15px 0;
		}

	}

	.check-result {
		@include flex(center);

		.rate {
			width: 120px;
			margin-right: 45px;
			text-align: center;

			span {
				display: block;
				font-size: 21px;
				font-weight: bold;
				line-height: 30px;
				letter-spacing: -.6px;
				color: #4b4a4a;

				em {
					font-style: normal;
					font-weight: bold;
					color: #ff9100;
				}

				&:last-child {
					padding-top: 12px;
					margin-top: 5px;
					border-top: 1px solid #4b4a4a;
				}

			}

		}

	}

	.chart-wrap {
		position: relative;
		
		&:before,
		&:after {
			@include position($l:50%,$t:50%);
			content: '';
			border-radius: 50%;
			border:1px solid #463b39;
			@include box-sizing(border-box);
		}

		&:before {
			margin-top: -133.5px;
			margin-left: -131px;
			width: 262px;
			height: 262px;
		}

		&:after{
			margin-top: -101.5px;
			margin-left: -99.5px;
			width: 200px;
			height: 200px;
		}

		figure {
			@include position($t:50%,$l:50%);
			margin-top: -105px;
			margin-left: -104px;
			content: '';
			display: block;
			width: 206px;
			height: 206px;
			z-index: 0;
			border-radius: 50%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			box-sizing: border-box;
		}

		.result01 {
			background-image: url(../images/pc/img_result01.png);
		}
		
		.result02 {
			background-image: url(../images/pc/img_result02.png);
		}
		
		.result03 {
			background-image: url(../images/pc/img_result03.png);
		}
		
		.result04 {
			background-image: url(../images/pc/img_result04.png);
		}

	}

	.donut-chart {
		width: 286px;
		height: 286px;

		.highcharts-background{
			fill : transparent;
			background-color: transparent;
		}

	}

}

/* 퀴즈 해설 */
.q-commentary {
	.quiz-step  {
		li {
			position: relative;
			margin-bottom: 20px;
			
			&:before{
				@include position($t:50%,$l:50%);
				content: '';
				background: {
					repeat: no-repeat;
					position: 0 0;
				}
				z-index: 99;
				cursor: pointer;
			}

			&.correct {
				&:before {
					margin-top: -27px;
					margin-left: -24px;
					width: 48px;
					height: 54px;
					background-image: url(../images/pc/q_correct.png);
				}

			}

			&.in-correct {
				&:before {
					margin-top: -25.5px;
					margin-left: -20.5px;
					width: 41px;
					height: 51px;
					background-image: url(../images/pc/q_incorrect.png);
				}

			}

		}

		.bar-rate {
			span {
				width: 0;

				&.complete {
					width:100%;
					-webkit-transition: width 1s ease-in;
					-moz-transition: width 1s ease-in;
					-o-transition: width 1s ease-in;
					transition: width 1s ease-in;
				}

			}

		}

	}

	.quiz-s-tit3,
	.quiz-s-tit4 {
		@include position($t:-36px,$l:0);
		margin-left: 24px;
		background-repeat: no-repeat;
		background-position: 0 0;
		font-size: 0;
		width: 126px;
		height: 64px;
		z-index: 100;
	}

	.quiz-s-tit3 {
		background-image: url(../images/pc/comment_tit01.png);
	}

	.quiz-s-tit4 {
		background-image: url(../images/pc/comment_tit02.png);
	}
	
	.quiz-form-wrap {
		@include flex(space-between);
		align-items: flex-start;
		width: 100%;
		margin: 80px auto 0;

		&:before,
		&:after {
			content: none;
		}

	}
	
	.quiz-form {
		width: 455px;
		padding: 60px 0 0;
		border-radius: 10px;
		border: 10px solid #e3c140;
		box-shadow: 0px 4px 1px 0px #bd8626;
		@include box-sizing(border-box);

		&:before {
			content: none;
		}

		.ques-tit {
			padding-left: 12px;
			text-align: left;
		}

		.form-inr {
			padding: 0 9px 100px;
			@include box-sizing(border-box);
		}

		.multiple {
			li {
				label{
					padding: 9px 28px 9px 64px;
					font-size: 16px;
					line-height: 19px;
					cursor: default;
				}

				&:before {
					margin-top:-20px;
					left: 16px;
					width: 40px;
					height: 40px;
					font-size: 27px;
					line-height: 40px;
				}

				&.checked {
					label {
						font-weight: bold;
						background: #f4cd44;
						color: $white;
					}

				}

			}

		}

		.ox-quiz {
			padding: 0 20px;

			label {
				width: 172px;
				height: 172px;
				background-size: 120px;
				cursor: default;
			}

			.checked {
				label {
					transition: ease-in-out .2s;
					
					&.choice-o {
						background-color: #12a76b;
					}
		
					&.choice-x {
						background-color: #c2164b;
					}

				}
	
			}

		}

	}

	.comment-form {
		position: relative;
		padding: 60px 20px 35px;
		width: 274px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: -.5px;
		color: #4b4a4a;
		border: 10px solid #e6c140;
		border-radius: 10px;
		@include box-sizing(border-box);
		background: $white;
		box-shadow: 0px 4px 1px 0px #bd8626;

		.form-inr {
			height: 100%;
			overflow: hidden;
			overflow-y: auto;
			z-index: 1;
			@include box-sizing(border-box);
		}
		
		.answer-box {
			margin-bottom: 35px;
		}

	}

	
	.paging-wrap {
		@include clearfix;
		margin-top: 30px;

		.back-paging {
			float: left;
			margin-right: 145px;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: -.5px;
			
			a {
				display: block;
				color: #9e672b;
			}

			span {
				margin-right: 8px;
				@include inline-block-box($vertical-align: middle);
				width: 28px;
				height: 32px;
				background : {
					image: url(../images/pc/q_page_back.png);
					repeat: no-repeat;
					position: 0 0
				}

			}

		}

		.quiz-paging {
			span {
				position: relative;
				padding: 0 6px;
				font-size: 16px;
				font-weight: bold;
				color: #9e672b;
				letter-spacing: -.5px;
	
				&::before {
					@include position($l: -3px, $t:0);
					content: '/';
				}
	
				&.current-idx {
					&:before {
						content: none;
					}
	
				}
	
			}

			.prev,
			.next {
				@include inline-block-box($vertical-align: middle);
				width: 28px;
				height: 31px;
				background : {
					repeat: no-repeat;
					position: 0 0;
				};
				font-size: 0;
			}

			.prev {
				margin-right: 12px;
				background-image: url(../images/pc/q_page_prev.png);
			}

			.next {
				margin-left: 12px;
				background-image: url(../images/pc/q_page_next.png);
			}

		}

	}

}
